@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #030326;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  box-sizing: border-box;
  position: relative;
}
